div.updated, div.error{
	display:none;
}
div#nex-forms-field-settings .col-sm-6{
	width:48%;
}
/* Responsive styles */

/************************/
.top-strip .col-sm-1 {
    padding-right: 0;
    margin-right: 0;
}
.btn-group.logo .dropdown-menu {
    left: -44px;
}
.btn-group.logo {
    margin: 0 !important;
}
.btn.logo {
    margin: 0 !important;
	cursor:help !important;
}
#supportForm span.fa-spinner {
    left: 22px;
    position: absolute;
    top: 12px;
}
.btn-group.logo {
    float: right;
}
.tutorial-popovers{
	z-index: 10000 !important;
}

.top-strip .col-sm-5 {
    min-width: 676px;
}
/* FIX: Bootstrap interfearance with WP */
*{
	box-sizing: border-box;
}
#adminmenuback, #adminmenuwrap, #adminmenu{
	height:calc(100%-49px);
}

.draggable_object{
    overflow: hidden;
}

.draggable_object .input-group-addon {
    position: relative;
    z-index: 2;
}
.draggable_object .field_title {
    position: relative;
    z-index: 1;
}

.toplevel_page_nex-forms-main .wp-menu-image img {
    padding-top: 6px !important;
}
/* FIX: WP Admin interfearance BS */
.form-control:focus{
	outline:0 !important;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6) ;
	box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button{
	font-family:inherit !important;
	font-size:inherit !important;
}
#update-nag, .update-nag{
	display:none !important;
}
#wpbody-content{
	margin-top: -10px;
}
a{
	text-decoration:none !important;
	outline:none !important;
}
.nex-forms-field-settings .input-group-addon:hover, .nex-forms-field-settings .input-group-btn button:hover {
    background: #f2f2f2;
	border-color: #CCCCCC !important;
	color:#333 !important;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child){
	margin:0 !important;
}

select[name="current_fields"] {
    min-height: 400px;
}

#autoRespond label {
    margin-top: 10px;
}
/* MOBILE EMULATION */
div.mobile-preview div.ui-nex-forms-container .col-sm-2,
div.mobile-preview div.ui-nex-forms-container .col-sm-3,
div.mobile-preview div.ui-nex-forms-container .col-sm-4,
div.mobile-preview div.ui-nex-forms-container .col-sm-5,
div.mobile-preview div.ui-nex-forms-container .col-sm-6,
div.mobile-preview div.ui-nex-forms-container .col-sm-7,
div.mobile-preview div.ui-nex-forms-container .col-sm-8,
div.mobile-preview div.ui-nex-forms-container .col-sm-9,
div.mobile-preview div.ui-nex-forms-container .col-sm-10,
div.mobile-preview div.ui-nex-forms-container .col-sm-11,
div.mobile-preview div.ui-nex-forms-container .col-sm-12{
	width:100% !important;
}
.modal-dialog.preview-modal{
	z-index: 2147483647 !important;
}
#slider {
    margin-top: 9px;
    margin-bottom: 14px;
}
.nex-forms-container .upload-single .input-group{
	width:100%;
}
.nex-forms-field-settings .input-group .label-primary,
.nex-forms-field-settings .input-group-addon.label-primary:hover {
	background:#357EBD !important;
    border-color: #428BCA !important;
    color: #fff !important;
}
.nex-forms-field-settings .input-group-addon:active{
	color:inherit;
	background-color:inherit;
}

.nex-forms-field-settings .input-group-addon {
    cursor: pointer;
}
#wpfooter{
	display:none;
}
#wpbody-content{
	padding-bottom:0 !important;
}
.wrap{
	margin:0 !important;
}
div.select-multiple div.input-inner,
div.select div.input-inner  {
    z-index: 20;
}
.nex-forms-container .touch_spinner .btn,
.ui-nex-forms-container .touch_spinner .btn{
	padding:8px 12px !important;
}
.col-sm-2.admin-layout {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 49px !important;
    padding: 0;
}
.row.admin-layout {
    margin-left: -20px;
}
.col-sm-10.admin-layout {
    margin: 0;
    padding: 0;
}
.panel-body.nex-forms-container.ui-droppable.ui-sortable {
    height: 90% !important;
	max-height:100%;
	overflow-y:scroll;
	overflow-x: hidden;
}
.nex-forms-field-settings .dropdown-toggle{
	height:34px !important;
}

#adminmenuwrap .panel-body {
  /*  background: #f7f7f7;*/
}
.top-strip .col-sm-2 .input-group {
 	font-size: 15px;
    margin-left: 7px;
}
.top-strip .col-sm-2 .input-group button.logo{
	text-align: left;
	/*background:url("../images/logo.png") no-repeat scroll 8px 3px rgba(0, 0, 0, 0);*/
}
.top-strip .col-sm-2 .btn-group button{
	
}
div#nex-forms .col-sm-2.admin-layout .admin-panel > .panel-heading a{
	padding-left:24px;
}
.top-strip .col-sm-2 {
     padding-right: 0;
}
.top-strip .row{
	width:99%;
}
div#nex-forms .admin-panel > .panel-heading {
    background-color: #EEEEEE;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0;
}	
div#nex-forms .col-sm-2.admin-layout .admin-panel > .panel-heading,
.nex-forms-field-settings .admin-panel > .panel-heading {
    color: #FFF !important;
}	
div#nex-forms .col-sm-2.admin-layout .panel{
	border:none;
	border-right:1px solid #ccc;
}

#nex_autoresponder_confirmation_mail_body{
	min-height:400px;
}
#ar_canvas {overflow:scroll; max-height:100%; min-height:600px}
.nex-forms-container .form_field,
.ui-nex-forms-container .form_field {
    margin-bottom: 15px;
}
div#nex-forms span.caret {
    float: right;
    margin-top: 7px;
    display: block;
}
.col1  .panel-heading em {
    margin-left: 25px;
}
.top-strip button {
    height: 32px;
	line-height:28px;
    padding-top: 0 !important;
}
/**********************/
/******* LAYOUT *******/
/**********************/

.col1 .panel-body {
    background: #f6f6f6;
}
.col-sm-12.admin-layout {
    padding: 0 !important;
}
div#nex-forms{
    width: 99%;
}
	div#nex-forms #wpcontent{
		width:90% !important;
		background:#fff !important;
	}	
.draggable_object .form-control {
    cursor: pointer;
}
	div#nex-forms div.top-strip{
	background: none repeat scroll 0 0 #6F5499 !important;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;
    height: 52px;
    margin-left: -20px;
    margin-top: -8px;
    padding-top: 10px;
    position: fixed;
    width: 101%;
    z-index: 1000;
	padding-left:12px;
	padding-right:18px;
	}
	div#nex-forms div.top-strip button.logo{
	}
	div.top-strip div.col-sm-2 ul.dropdown-menu{
		left: -20px;
	}
#nex-forms-field-settings label {
    width: 100%;
}
.col-sm-6.setting-radio textarea {
    height: 267px;
}
.preload{
	display:none;
}
	div#nex-forms div#adminmenuback{
		opacity:0.94;
		margin-left:-20px;
		background:none repeat scroll 0 0 #6F5499;
		box-shadow:0 0 3px rgba(0, 0, 0, 0.1) inset;
		width:200px;
	}
	div#nex-forms div#adminmenuwrap{
		 background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-left: -20px;
    margin-top: 49px;
    position: fixed;
    width: 200px;
	}
	div.nex-forms-container {
		border-bottom: 1px solid #CCCCCC;
		box-shadow: 0 0 14px rgba(0, 0, 0, 0.17) inset;

	}
	div#nex-forms div.panel-heading h4{
		font-weight:normal;
		font-size:14px;
		
	}
	div#nex-forms .admin-panel > .panel-heading{
		border-bottom: 1px solid #FFFFFF;
    	padding: 0;
	}
	div#nex-forms .panel{
		box-shadow:none;
	}
	div#nex-forms div.panel-heading h4 a{
		padding:10px 15px;
		display:block;
		 /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);*/
    vertical-align: middle;
	font-size: 15px;
	color:inherit;
	font-weight:normal;
	}
div.nex-forms-container{
	min-height:calc(100%-49px);
	width:100%;
}

div#collapseFormsCanvas{
	min-height:calc(100%-49px);
}
.col2 .admin-panel .panel-heading .btn.glyphicon-hand-down{
	display:none;
}
.draggable_object{
	margin:5px;
	
}
.draggable_object button{
	text-align:left;
	cursor:move;
}
.ui-draggable-dragging{
	width:150% !important;
	
}
div#nex-forms .panel.admin-panel{
	border-radius:0 !important;
	margin:0;
}
div.trash-can {
    bottom: 7px;
    font-size: 47px;
    height: 64px;
    padding-right: 30px !important;
    position: absolute;
    right: 0;
    text-align: left;
    width: 48%;
    z-index: 999;
	cursor:default;
}
.icon_set.dropdown-menu {
    background: none repeat scroll 0 0 #F7F7F7 !important;
    height: 200px;
    overflow-y: scroll;
}
div.trash-can div{
	border:none !important;
	padding:0 !important;
	margin:0 !important;
	background:none;
}
div.controls .btn-group{
	margin-right:15px;
}
.nav.nav-tabs li.active{
	font-weight:bold;
}
.col-sm-6.isotope-item.populate,
.col-sm-6.isotope-item.selected-color ,
.col-sm-6.isotope-item.error_color{
    z-index: 10000 !important;
}
.col-sm-6.isotope-item.populate .btn {
    height: 38px !important;
}
.col-sm-6.isotope-item.populate div.input_holder {
    /*padding-bottom: 33px !important;*/
}

.prepopulate_target textarea {
    height: 261px !important;
}
.col1 .field {
    cursor: move;
    padding: 0;
    text-align: left;
    width: 100%;
	
}
.form_field label#title{
	width:100%;
	padding:0;
	color:#000;
	height: auto;
	font-weight: normal;
}
.help-block{
	cursor:pointer;
	clear:both;
}

.form_field {
    padding-right: 0 !important;
	cursor:move;
}
.col1 .form_field span.label {
    float: right;
    font-size: 10px;
    padding-top: 4px;
    position: relative;
    right: -5px !important;
    top: -17px;
    z-index: 100;
}

.grid .panel{
	
}
.ui-draggable {
    z-index: 100;
}
.place-holder{
	border:1px dashed #ccc;
	margin:10px 0;
	max-height:40px;
	min-height:40px;
}


#set_paragraph {
    min-height: 300px;
}

p.the_input_element, 
.nex-forms-container .paragraph .input-group,
.nex-forms-container .heading .input-group{
    width: 100% !important;
}
.modal-header.alert-success {
    margin-bottom: 0;
}
/**********************/
.col1 h4.panel-title .glyphicon
{
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out; 
-o-transition: all 0.5s ease-in-out; 
-ms-transition: all 0.5s ease-in-out; 
}

.col1 h4.panel-title:hover .glyphicon 
{
-webkit-transform: rotate(360deg) scale(1.3,1.3); 
-moz-transform: rotate(360deg) scale(1.3,1.3); 
-o-transform: rotate(360deg) scale(1.3,1.3);
-ms-transform: rotate(360deg) scale(1.3,1.3); 
} 
.col1 .form_field:hover{
	transform: scale(1.05,1.05); 
	transition: all 0.2s ease-in-out
}
h4.panel-title:hover{
	/*transform:scale(1.2,1.2);*/
}
.admin-view {
   margin-left: -12px !important;
    margin-top: 11px;
    padding: 4px;
}
.field_settings button {
    float: right;
   margin-left: 8px !important;
}

.nex-forms-field-settings .popover {
    margin-top: 100px !important;
}
.count-color li a,
.error-color li a,
.selected-radio-color li a,
.selected-slider-handel-color li a,
.spinner-down-color li a,
.spinner-up-color li a,
.tag-color li a,
.prefix-color li a,
.postfix-color li a {
    padding: 10px !important;
    margin: 2px;
}
.count-color li,
.error-color li,
.selected-radio-color li,
.selected-slider-handel-color li,
.spinner-down-color li,
.spinner-up-color li,
.tag-color li,
.prefix-color li,
.postfix-color li{
    float: left;
}
.count-color,
.error-color,
.max-count-position,
.help-menu,
.selected-radio-color,
.selected-slider-handel-color,
.spinner-down-color,
.spinner-up-color,
.tag-color,
.prefix-color,
.postfix-color{
	right:0 !important;
}
.icon_set.dropdown-menu i:hover,
.down_icon.dropdown-menu i:hover,
.up_icon.dropdown-menu i:hover {
    background: #f2f2f2;
	transform: rotate(360deg) scale(2,2); 
	transition: all 0.2s ease-in-out
}
.icon_set.dropdown-menu i,
.up_icon.dropdown-menu i,
.down_icon.dropdown-menu i {
    padding: 10px;
    cursor: pointer;
}
.icon_set.dropdown-menu {
    min-width: 300px;
}

.grid-system .col-sm-2, .grid-system .col-sm-12 {
    padding-left: 0 !important;
    padding-right: 20px !important;
}
li.nex_form_itmes,
li.nex_form_templates {
    position: relative !important;
}
li.nex_form_itmes .delete_the_form,
li.nex_form_templates .delete_the_form {
    position: absolute !important;
    right: 6px;
    display: block;
    top: 0px;
    z-index: 100;
}
li.nex_form_itmes a,
li.nex_form_templates a {
    width: 92% !important;
    display: block;
    margin-right: 30px;
}

.delete_the_form {
    opacity: 0.6;
}
.delete_the_form:hover{
	transform: rotate(360deg) scale(1.2,1.2); 
	transition: all 0.2s ease-in-out;
	opacity:1;
}
#load_next_form li.nex_form_itmes,
li.nex_form_templates {
    height: 33px !important;
}
.col-sm-6.icons .btn,
.col-sm-6.icons .btn{
    height: 40px !important;
    line-height: 35px !important;
}
.col-sm-6.icons{
	z-index:1000000 !important;
}
div#nex-forms-field-settings {
   background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    height: 100%;
    position: absolute;
    right: -50%;
    width: 50%;
    z-index: 500;
	overflow-x: hidden;
    overflow-y: hidden;
	
}
#field-settings-inner {
    height: 70% !important;
    overflow-x: hidden;
    overflow-y: scroll;
}
div#field-settings-inner{
	padding: 15px;
}
.editing-field{
	outline-offset: 10px;
	outline-style:dotted !important;
	outline-color:#5CB85C !important;
	outline-width:4px;
}
ul.nav-tabs {
   /* background: #f8f8f8;*/
}
ul.nav-tabs li a {
    border-radius: 0;
    border-top: none !important;
}
ul.nav-tabs li:first-child a {
    border-left: none !important;
}

div#nex-forms-field-settings .panel-heading{
	border-radius: 0px !important;
}

div#nex-forms-field-settings .nav-tabs > li a:hover {
    background: #f8f8f8 !important;
}

.nex-forms-field-settings.bs-callout{
	padding:0;
}

#isotope_container{
	overflow:visible !important;
}
#nex-forms .selectpicker.btn {
  /* line-height: 30px;*/
}
#nex-forms .popover h3.tut-title {
    display: block !important;
}
/* tutorail */
.tutorial-popovers {
    min-width: 300px !important;
}
.tutorial-popovers .popover-content{
	color:#444 !important;
}


.tutorial-popovers.step_6 {
    left: -140px !important;
}

.tutorial-popovers.step_8 {
    left: 40px !important;
}

.tutorial-popovers.step_9 {
    top: 10px !important;
}

.tutorial-popovers.step_15 {
    top: 10px !important;
    left: 20px !important;
}

.tutorial-popovers.step_16 {
    z-index: 10000 !important;
}

/* Preloader */
#preloader {
	 background: none repeat scroll 0 0 #FFF;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0.95;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;
}

#status {
 	box-shadow: -3px 9px 15px #000000;
    color: #FFFFFF;
    font-size: 80px;
    height: 240px;
    left: 50%;
    margin-left: -15%;
    margin-top: -50px;
    padding-top: 50px;
    position: absolute;
    text-align: center;
    top: 35%;
    width: 30%;
}
#status span {
    padding-top: 14px;
}
#status small {
    font-size: 20px;
	padding-left:37px;
}
div#status div.progress {
    bottom: -42px;
    margin: 0 auto;
    position: relative;
    width: 95%;
}







@media (max-width:1800px) {
	#status small {
    font-size: 10px !important;
	padding-left:20px !important;
	}
	#status {
		font-size: 40px !important;
		height: 170px !important;
		margin-top: -80px !important;
		padding-top: 20px !important;
		top: 35% !important;
	}
	.tutorial-popovers.step_6,
	.tutorial-popovers.step_17 {
   		 left: -210px !important;
	}
	.draggable_object .btn-sm .field_title,
.draggable_object .btn-sm {
    font-size: 10px !important;
}
}
@media (max-width: 1280px) {
.top-strip .form-control {
    font-size: 12px !important;
    padding: 7px !important;
    height: 27px !important;
}

.colmask {
    margin-top: 36px !important;
}
.top-strip .btn {
    height: 35px !important;
    padding: 3px !important;
	font-size:11px;
}
div#nex-forms div.top-strip button.logo {
    line-height: 15px;
    right:45px;
}
.top-strip .col-sm-5 {
    min-width: 530px !important;
}
.top-strip .col-sm-2 {
    display: none !important;
}
.top-strip {
    height: 44px !important;
    padding: 7px !important;
}
.top-strip .admin-view {
    top: 0px !important;
    margin-left: -7px !important;
}
.col1 .panel-heading h4 a {
    font-size: 11px !important;
}
.col1 .panel-heading h4 small{
	display:none;
}

.btn.logo {
    padding-top: 7px !important;
}
.btn-group.logo {
    float: right;
}
.draggable_object .btn-sm .field_title,
.draggable_object .btn-sm {
    font-size: 10px !important;
}


.btn-group.logo .dropdown-menu {
    left: -120px !important;
}

.nex-forms-field-settings label {
    font-size: 11px;
}
.nex-forms-field-settings .col-sm-6 {
    width: 90%;
}
.nex-forms-field-settings .btn {
    font-size: 10px;
}
.nex-forms-field-settings .form-control {
    font-size: 11px;
    height: 30px;
}
#status small {
    font-size: 10px !important;
	padding-left:20px !important;
}
#status {
    font-size: 40px !important;
    height: 170px !important;
    margin-top: -80px !important;
    padding-top: 20px !important;
    top: 35% !important;
}
div#nex-forms div.panel-heading h4 a {
    font-size: 11px !important;
}
.option-set {
    font-size: 11px;
}
.tutorial-popovers.step_6,
.tutorial-popovers.step_17 {
   		 left: -270px !important;
	}
}

@media (max-width: 1000px) {
.top-strip .col-sm-1 {
    display: none !important;
}
.top-strip .col-sm-10 {
	width:100% !important;
}

}


.col1 .panel-heading h4 small{
	display:none;
}

.col1 .panel-heading h4 a {
    font-size: 12px !important;
}







#status_load {
 position: absolute;
 top: 40%;
 left: 20px;
 right: 2px;
 bottom: 2px;
 z-index: 2;
 text-align: center;
 font-size:24px;
 color:#9E280E;
 line-height: 90px;
}
#status_load span {
 -webkit-animation:color 1.5s linear infinite;
 -moz-animation:color 1.5s linear infinite;
 -ms-animation:color 1.5s linear infinite;
 -o-animation:color 1.5s linear infinite;
 animation:color 1.5s linear infinite;
}
 #status_load span:nth-child(1) {
 -webkit-animation-delay:0s;
 -moz-animation-delay:0s;
 -ms-animation-delay:0s;
 -o-animation-delay:0s;
 animation-delay:0s;
}
 #status_load span:nth-child(2) {
 -webkit-animation-delay:.25s;
 -moz-animation-delay:.25s;
 -ms-animation-delay:.25s;
 -o-animation-delay:.25s;
 animation-delay:.25s;
}
 #status_load span:nth-child(3) {
 -webkit-animation-delay:.45s;
 -moz-animation-delay:.45s;
 -ms-animation-delay:.45s;
 -o-animation-delay:.45s;
 animation-delay:.45s;
}
 #status_load span:nth-child(4) {
 -webkit-animation-delay:.55s;
 -moz-animation-delay:.55s;
 -ms-animation-delay:.55s;
 -o-animation-delay:.55s;
 animation-delay:.55s;
}
 #status_load span:nth-child(5) {
 -webkit-animation-delay:.65s;
 -moz-animation-delay:.65s;
 -ms-animation-delay:.65s;
 -o-animation-delay:.65s;
 animation-delay:.65s;
}
 #status_load span:nth-child(devil) {
 -webkit-animation-delay:.75s;
 -moz-animation-delay:.75s;
 -ms-animation-delay:.75s;
 -o-animation-delay:.75s;
 animation-delay:.75s;
}
 #status_load span:nth-child(7) {
 -webkit-animation-delay:.85s;
 -moz-animation-delay:.85s;
 -ms-animation-delay:.85s;
 -o-animation-delay:.85s;
 animation-delay:.85s;
}
 @-webkit-keyframes color {
 0% {
 color:#9E280E;
}


